<table>
    <tr>
        <td>Id</td>
        <td>Picture</td>
        <td>Username</td>
        <td>Email</td>
        <td>Nombre de livres </td>
    </tr>
    <tr>
        <td>{{author.id}}</td>
        <td><img src={{author.picture}} width=200 height=200></td>
        <td>{{author.username}}</td>
        <td>{{author.email}}</td>
        <td>{{author.nb_books}}</td>
    </tr>
</table>